@charset 'UTF-8';
/* ----------------------------------------------------------------------------------------------------

Super Form Reset

A couple of things to watch out for:

- IE8: If a text input doesn't have padding on all sides or none the text won't be centered.
- The default border sizes on text inputs in all UAs seem to be slightly different. You're better off using custom borders.
- You NEED to set the font-size and family on all form elements
- Search inputs need to have their appearance reset and the box-sizing set to content-box to match other UAs
- You can style the upload button in webkit using ::-webkit-file-upload-button
- ::-webkit-file-upload-button selectors can't be used in the same selector as normal ones. FF and IE freak out.
- IE: You don't need to fake inline-block with labels and form controls in IE. They function as inline-block.
- By turning off ::-webkit-search-decoration, it removes the extra whitespace on the left on search inputs

----------------------------------------------------------------------------------------------------*/
input,
label,
select,
button,
textarea {
	display: inline-block;
	margin: 0;
	padding: 0;
	box-shadow: none;
	border: 0;
	border-radius: 0;
	background: none;
	vertical-align: middle;
	white-space: normal;
	line-height: initial;
	-webkit-appearance: none;

	   -moz-appearance: none;
	        appearance: none;
}

/* Remove the stupid outer glow in Webkit */
input:focus,
textarea:focus,
select:focus,
button:focus {
	outline: 0;
}

/* Box Sizing Reset
-----------------------------------------------*/
/* All of our custom controls should be what we expect them to be */
input,
textarea {
	box-sizing: content-box;
}

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
	box-sizing: border-box;
}

/* label
-----------------------------------------------*/
label {
	line-height: 1;
}

/* Placeholder
-----------------------------------------------*/
::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #bebebe;
}

::-moz-placeholder {
	/* Firefox 19+ */
	color: #8d8d8d;
}

:-ms-input-placeholder {
	/* IE 10+ */
	color: #bebebe;
}

:-moz-placeholder {
	/* Firefox 18- */
	color: #bebebe;
}

/* Text Inputs
-----------------------------------------------*/
/* Button Controls
-----------------------------------------------*/
input[type=checkbox],
input[type=radio] {
	width: 13px;
	height: 13px;
}

/* File Uploads
-----------------------------------------------*/
/* Search Input
-----------------------------------------------*/
/* Make webkit render the search input like a normal text field */
input[type=search] {
	-webkit-box-sizing: content-box;
	-webkit-appearance: textfield;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
	display: none;
}

/* Buttons
-----------------------------------------------*/
button,
input[type='reset'],
input[type='button'],
input[type='submit'] {
	/* Fix IE7 display bug */
	overflow: visible;
	width: auto;
}

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button {
	padding: 0;
	border: 0;
	background: none;
}

/* Textarea
-----------------------------------------------*/
textarea {
	/* Turn off scroll bars in IE unless needed */
	overflow: auto;
	/* Move the label to the top */
	vertical-align: top;
}

/* Selects
-----------------------------------------------*/
select[multiple] {
	/* Move the label to the top */
	vertical-align: top;
}

/*--------------------------------------------------------------------------
   config
---------------------------------------------------------------------------*/
/* layout */
/* input size */
/* must */
/* color */
/*--------------------------------------------------------------------------
   core
---------------------------------------------------------------------------*/
.sec-form__base {
	border-top: 1px solid #d0d2d5;
	font-size: 18px;
	/* color size
	------------------------------------------------*/
	/* input-block
	------------------------------------------------*/
	/* col
	-------------------------------------------------*/
	/* box
	-------------------------------------------------*/
}

.sec-form__base textarea {
	vertical-align: top;
}

.sec-form__base input,
.sec-form__base textarea {
	background: #e5e6e8;
}

.sec-form__base input,
.sec-form__base textarea,
.sec-form__base select {
	box-sizing: border-box;
	width: 100%;
	padding: 13px;
	border: 1px solid #e5e6e8;
}

.sec-form__base input,
.sec-form__base textarea,
.sec-form__base select,
.sec-form__base label {
	font-size: 18px;
}

.sec-form__base .input-block {
	display: table;
	width: 100%;
	padding: 30px 0;
	border-bottom: 1px solid #d0d2d5;
}

.sec-form__base .col {
	display: table-cell;
	vertical-align: top;
}

.sec-form__base .col--left {
	position: relative;
	width: 260px;
	padding-top: 11px;
	padding-right: 90px;
}

.sec-form__base .col--right {
	padding-left: 55px;
}

.sec-form__base .col .error {
	margin-top: 10px;
	color: #e80000;
	font-size: 14px;
	letter-spacing: normal;
}

.sec-form__base .box {
	display: inline-block;
	vertical-align: middle;
	letter-spacing: normal;
}

.sec-form__base .box > p {
	display: inline-block;
	vertical-align: middle;
}

.sec-form__base .box--confirm {
	display: block;
	padding-top: 6.5px;
}

.sec-form__base--confirm .col--left {
	padding-top: 0;
	padding-right: 20px;
}

.sec-form__base--confirm .col--right {
	padding-left: 55px;
}

.sec-form__base--confirm .box {
	display: block;
}

.sec-form__base--confirm .box > p {
	display: block;
}

/* media query -> sp
=================================================================*/
@media only screen and (max-width: 767px) {
	.sec-form__base {
		font-size: 14px;
		/* color size
		------------------------------------------------*/
		/* input-block
		------------------------------------------------*/
		/* col
		-------------------------------------------------*/
		/* box
		-------------------------------------------------*/
	}
	.sec-form__base input,
	.sec-form__base textarea,
	.sec-form__base select {
		padding: 10px;
	}
	.sec-form__base input,
	.sec-form__base textarea,
	.sec-form__base select,
	.sec-form__base label {
		font-size: 14px;
	}
	.sec-form__base .input-block {
		display: block;
		padding: 20px 0;
	}
	.sec-form__base .col {
		display: block;
	}
	.sec-form__base .col--left {
		width: 100%;
		padding-top: 0;
		padding-right: 0;
	}
	.sec-form__base .col--right {
		padding-left: 0;
	}
	.sec-form__base .col .error {
		font-size: 12px;
	}
	.sec-form__base .box {
		display: inline-block;
		margin-top: 15px;
		vertical-align: middle;
		letter-spacing: normal;
	}
	.sec-form__base .box > p {
		display: inline-block;
		vertical-align: middle;
	}
	.sec-form__base .box--confirm {
		margin-top: 0;
	}
}

/*--------------------------------------------------------------------------
   styles --must
---------------------------------------------------------------------------*/
.sec-form__base .input-block--must .col--left:before {
	position: absolute;
	top: 13px;
	right: 0;
	width: 70px;
	padding: 6px 0;
	background: #f05858;
	text-align: center;
	color: #fff;
	font-size: 14px;
	line-height: 1;
	content: '必 須';
}

/* media query -> sp
=================================================================*/
@media only screen and (max-width: 767px) {
	.sec-form__base .input-block--must .col--left:before {
		top: 5px;
		right: 0;
		width: 50px;
		padding: 5px 0;
		font-size: 10px;
	}
}

/*--------------------------------------------------------------------------
   styles --name
---------------------------------------------------------------------------*/
.sec-form__base .input-block--style-name .col--right .box--01 {
	margin-right: 35px;
}

.sec-form__base .input-block--style-name .col--right .hdg {
	width: 36px;
	margin-right: 20px;
	text-align: right;
}

.sec-form__base .input-block--style-name .col--right .input {
	width: 250px;
}

/* media query -> sp
=================================================================*/
@media only screen and (max-width: 767px) {
	.sec-form__base .input-block--style-name .col--right .box {
		display: table;
		width: 100%;
		margin-right: 0;
		table-layout: fixed;
	}
	.sec-form__base .input-block--style-name .col--right .hdg,
	.sec-form__base .input-block--style-name .col--right .input {
		display: table-cell;
	}
	.sec-form__base .input-block--style-name .col--right .hdg {
		width: 45px;
		margin-right: 0;
		padding-right: 14px;
	}
	.sec-form__base .input-block--style-name .col--right .input {
		width: auto;
	}
}

/*--------------------------------------------------------------------------
   styles --flat
---------------------------------------------------------------------------*/
.sec-form__base .input-block--style-flat .col--right .box {
	width: 100%;
}

.sec-form__base .input-block--style-flat .col--right .input {
	width: 100%;
}

/*--------------------------------------------------------------------------
   styles --tel
---------------------------------------------------------------------------*/
.sec-form__base .input-block--style-tel .col--right .box {
	position: relative;
	padding-right: 25px;
}

.sec-form__base .input-block--style-tel .col--right .box:before {
	position: absolute;
	top: 50%;
	right: 10px;
	width: 5px;
	height: 1px;
	background: #6e7079;
	content: '';
}

.sec-form__base .input-block--style-tel .col--right .box:nth-child(3) {
	padding-right: 0;
}

.sec-form__base .input-block--style-tel .col--right .box:nth-child(3):before {
	display: none;
}

.sec-form__base .input-block--style-tel .col--right .input {
	width: 180px;
}

/* media query -> sp
=================================================================*/
@media only screen and (max-width: 767px) {
	.sec-form__base .input-block--style-tel .col--right {
		margin-right: -15px;
		letter-spacing: -3.3px;
	}
	.sec-form__base .input-block--style-tel .col--right .box {
		width: 33.33%;
		padding-right: 15px;
	}
	.sec-form__base .input-block--style-tel .col--right .box:before {
		top: 50%;
		right: 6px;
		width: 3px;
	}
	.sec-form__base .input-block--style-tel .col--right .box:nth-child(3) {
		padding-right: 15px;
	}
	.sec-form__base .input-block--style-tel .col--right .box:nth-child(3):before {
		display: none;
	}
	.sec-form__base .input-block--style-tel .col--right .input {
		width: 100%;
	}
	.sec-form__base .input-block--style-tel .col--right .error {
		margin-right: 15px;
	}
}

/*--------------------------------------------------------------------------
   styles --radio
---------------------------------------------------------------------------*/
.sec-form__base .input-block--style-radio ul {
	padding-top: 13px;
}

.sec-form__base .input-block--style-radio ul li {
	display: block;
	position: relative;
	margin: 15px 0;
	color: #0f162c;
}

.sec-form__base .input-block--style-radio ul li:first-child {
	margin-top: 0;
}

.sec-form__base .input-block--style-radio ul li input[type=radio] {
	position: absolute;
	visibility: hidden;
}

.sec-form__base .input-block--style-radio ul li label {
	display: block;
	position: relative;
	z-index: 1;
	padding: 3px 0 3px 38px;
	cursor: pointer;
}

.sec-form__base .input-block--style-radio ul li .check {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 24px;
	height: 24px;
	border-radius: 100%;
	background: #e5e6e8;
}

.sec-form__base .input-block--style-radio ul li .check::before {
	display: block;
	position: absolute;
	top: 6px;
	left: 6px;
	width: 12px;
	height: 12px;
	margin: auto;
	border-radius: 100%;
	background: #232e3c;
	content: '';
	-webkit-transition: all .2s cubic-bezier(.455, .03, .515, .955);
	        transition: all .2s cubic-bezier(.455, .03, .515, .955);
	-webkit-transform: scale(.8);
	    -ms-transform: scale(.8);
	        transform: scale(.8);
	opacity: 0;
}

.sec-form__base .input-block--style-radio input[type=radio]:checked ~ .check::before {
	-webkit-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);
	opacity: 1;
}

.sec-form__base .input-block--style-radio input[type=radio]:checked ~ label {
	color: #0f162c;
}

/* media query -> sp
=================================================================*/
@media only screen and (max-width: 767px) {
	.sec-form__base .input-block--style-radio ul {
		padding-top: 0;
	}
	.sec-form__base .input-block--style-radio ul li label {
		display: block;
		position: relative;
		z-index: 1;
		padding: 3px 0 3px 31px;
		cursor: pointer;
	}
	.sec-form__base .input-block--style-radio ul li .check {
		width: 20px;
		height: 20px;
	}
	.sec-form__base .input-block--style-radio ul li .check::before {
		top: 5px;
		left: 5px;
		width: 10px;
		height: 10px;
	}
}

/*--------------------------------------------------------------------------
   styles --textarea
---------------------------------------------------------------------------*/
.sec-form__base .input-block--style-textarea .col--right .box {
	width: 100%;
}

.sec-form__base .input-block--style-textarea .col--right .input {
	width: 100%;
	height: 200px;
}

.sec-form__base .input-block--style-textarea .col--right .input textarea {
	height: 100%;
	max-height: 100%;
}

/* media query -> sp
=================================================================*/
@media only screen and (max-width: 767px) {
	.sec-form__base .input-block--style-textarea .col--right .input {
		height: 175px;
	}
}

/*--------------------------------------------------------------------------
   hider
---------------------------------------------------------------------------*/
.global-header__contact,
.global-header__menu-btn {
	display: none;
}

/*--------------------------------------------------------------------------
   .sec-hd
---------------------------------------------------------------------------*/
.sec-hd {
	position: relative;
	padding-bottom: 93px;
	background: url(/assets/img/contact/hd_bg.jpg) no-repeat 50% 100%;
	background-size: cover;
	text-align: center;
}

.sec-hd__outline {
	position: relative;
	padding-top: 97px;
}

.sec-hd__hdg {
	display: inline-block;
	overflow: hidden;
	width: 244px;
	height: 36px;
	background: url(/assets/img/contact/page_hdg.png) no-repeat;
	text-indent: 101%;
	white-space: nowrap;
}

.sec-hd__lead {
	margin-top: 33px;
	color: #fff;
	font-size: 18px;
}

.sec-hd__tel {
	display: inline-block;
	overflow: hidden;
	position: absolute;
	top: 28px;
	right: 28px;
	width: 248px;
	height: 75px;
	background: url(/assets/img/contact/hd_txt01.png) no-repeat;
	text-indent: 101%;
	white-space: nowrap;
}

.sec-hd__tel a {
	display: block;
	width: 248px;
	height: 75px;
}

.sec-hd .line {
	display: block;
	position: absolute;
	width: 1px;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.sec-hd .line:before {
	display: block;
	width: 100%;
	height: 100%;
	background-color: #fff;
	content: '';
}

.sec-hd .line--01 {
	top: 0;
	left: 125px;
	height: 92px;
	-webkit-transform-origin: 50% 0 0;
	    -ms-transform-origin: 50% 0 0;
	        transform-origin: 50% 0 0;
}

.sec-hd .line--02 {
	top: 0;
	left: 186px;
	height: 252px;
	-webkit-transform-origin: 50% 0 0;
	    -ms-transform-origin: 50% 0 0;
	        transform-origin: 50% 0 0;
}

.sec-hd .line--02:before {
	background-color: #dec083;
}

.sec-hd .line--03 {
	top: 216px;
	right: 62px;
	height: 163px;
	-webkit-transform-origin: 50% 0 0;
	    -ms-transform-origin: 50% 0 0;
	        transform-origin: 50% 0 0;
}

/* media query -> sp
=================================================================*/
@media only screen and (max-width: 767px) {
	.sec-hd {
		position: relative;
		padding-bottom: 0;
		background: none;
	}
	.sec-hd__outline {
		padding: 139px 0 45px;
		background: url(/assets/img/contact/hd_bg_sp.jpg) no-repeat 50% 100%;
		background-size: cover;
	}
	.sec-hd__hdg {
		width: 166px;
		height: 24px;
		background: url(/assets/img/contact/page_hdg_sp.png) no-repeat;
		background-size: 166px 24px;
	}
	.sec-hd__lead {
		margin-top: 0;
		padding-top: 28px;
		background: #f4f3f2;
		color: #0f162c;
		font-size: 14px;
	}
	.sec-hd__tel {
		top: 22px;
		right: 18px;
		width: 188px;
		height: 57px;
		background: url(/assets/img/contact/hd_txt01_sp.png) no-repeat;
		background-size: 188px 57px;
	}
	.sec-hd__tel a {
		width: 188px;
		height: 57px;
	}
	.sec-hd .line {
		display: none;
	}
}

/*--------------------------------------------------------------------------
   hide
---------------------------------------------------------------------------*/
/* media query -> sp
=================================================================*/
@media only screen and (max-width: 767px) {
	.sec-hd--com .sec-hd__lead {
		display: none;
	}
}

/*--------------------------------------------------------------------------
   .sec-form__nav
---------------------------------------------------------------------------*/
.sec-form {
	padding: 60px 0 120px;
	background: #f4f3f2;
}

.sec-form__nav {
	text-align: center;
	letter-spacing: -.40em;
}

.sec-form__nav .item {
	display: inline-block;
	position: relative;
	position: relative;
	width: 120px;
	height: 120px;
	margin: 0 20px;
	border: 1px solid #232e3c;
	border-radius: 50%;
	background: #f4f3f2;
	color: #232e3c;
	font-size: 20px;
	font-weight: normal;
	letter-spacing: normal;
}

.sec-form__nav .item--active {
	background: #232e3c;
	color: #fff;
}

.sec-form__nav .item:before {
	position: absolute;
	top: 50%;
	left: 100%;
	width: 42px;
	height: 1px;
	background: #232e3c;
	content: '';
}

.sec-form__nav .item:last-child:before {
	display: none;
}

.sec-form__nav .item span {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: 2px;
	line-height: 1;
	letter-spacing: 4px;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

/* media query -> sp
=================================================================*/
@media only screen and (max-width: 767px) {
	.sec-form {
		padding: 30px 0 50px;
	}
	.sec-form__nav .item {
		width: 75px;
		height: 75px;
		margin: 0 12px;
		font-size: 12px;
	}
	.sec-form__nav .item:before {
		width: 25px;
	}
	.sec-form__nav .item span {
		margin-left: 1px;
		letter-spacing: 2px;
	}
}

/*--------------------------------------------------------------------------
   .sec-form__outline
---------------------------------------------------------------------------*/
.sec-form__outline {
	width: 1160px;
	margin: 60px auto 0;
	padding: 60px 70px 80px;
	box-shadow: 14px 14px 30px 0 rgba(0, 0, 0, .1);
	background: #fff;
}

/* media query -> sp
=================================================================*/
@media only screen and (max-width: 767px) {
	.sec-form__outline {
		width: auto;
		margin: 30px 25px 0;
		padding: 0;
		box-shadow: none;
		background: none;
	}
}

/*--------------------------------------------------------------------------
   .sec-form__policy
---------------------------------------------------------------------------*/
.sec-form__policy {
	margin-top: 50px;
}

.sec-form__policy .hdg {
	text-align: center;
	font-size: 28px;
	font-weight: 200;
}

.sec-form__policy .block-lead {
	overflow-y: auto;
	height: 203px;
	margin-top: 30px;
	padding: 30px 40px;
	border: 1px solid #d0d2d5;
	font-size: 16px;
}

.sec-form__policy .block-lead__ttl {
	margin-top: 20px;
}

.sec-form__policy .block-lead__txt,
.sec-form__policy .block-lead__list {
	margin-top: 10px;
}

.sec-form__policy .ico {
	display: none;
}

.sec-form__policy a {
	text-decoration: underline;
}

.sec-form__policy a:hover {
	text-decoration: none;
}

/* media query -> sp
=================================================================*/
@media only screen and (max-width: 767px) {
	.sec-form__policy {
		position: relative;
		margin-top: 30px;
		border: 1px solid #d0d2d5;
		background: #fff;
	}
	.sec-form__policy .hdg {
		padding: 13px 25px;
		font-size: 16px;
		cursor: pointer;
	}
	.sec-form__policy .block-lead {
		display: none;
		overflow-y: inherit;
		height: auto;
		margin-top: 0;
		padding: 0 25px 25px;
		border: none;
		font-size: 13px;
	}
	.sec-form__policy .ico {
		display: block;
		position: absolute;
		top: 20px;
		right: 14px;
		width: 20px;
		height: 20px;
		background: url(/assets/img/contact/ico_plus.png) no-repeat 0 0;
		background-size: 20px;
		pointer-events: none;
	}
	.sec-form__policy.is-active .ico {
		background: url(/assets/img/contact/ico_minus.png) no-repeat 0 0;
		background-size: 20px;
	}
	.sec-form__policy.is-active .block-lead {
		display: block;
	}
}

/*--------------------------------------------------------------------------
   .sec-form__submit
---------------------------------------------------------------------------*/
.sec-form__submit {
	margin-top: 50px;
	text-align: center;
}

.sec-form__submit .button {
	position: relative;
	width: 435px;
	height: 70px;
	border: 1px solid #9c8b69;
	-webkit-transition: background-color .6s;
	        transition: background-color .6s;
}

.sec-form__submit .button:after {
	-webkit-transition: color .6s;
	        transition: color .6s;
}

.sec-form__submit .button--style01 {
	background: #9c8b69 url(/assets/img/contact/btn_txt01.png) no-repeat 50% 50%;
}

.sec-form__submit .button--style01:after {
	right: 25px;
	color: #fff;
}

.sec-form__submit .button--style01:hover {
	background: #fff url(/assets/img/contact/btn_txt01_on.png) no-repeat 50% 50%;
}

.sec-form__submit .button--style01:hover:after {
	color: #9c8b69;
}

.sec-form__submit .button--style02 {
	width: 275px;
	margin-right: 20px;
	background: url(/assets/img/contact/btn_txt02.png) no-repeat 50% 50%;
}

.sec-form__submit .button--style02:after {
	left: 25px;
	color: #9c8b69;
	-webkit-transform: rotate(-180deg);
	    -ms-transform: rotate(-180deg);
	        transform: rotate(-180deg);
}

.sec-form__submit .button--style02:hover {
	background: #9c8b69 url(/assets/img/contact/btn_txt02_on.png) no-repeat 50% 50%;
}

.sec-form__submit .button--style02:hover:after {
	color: #fff;
}

.sec-form__submit .button--style03 {
	background: #9c8b69 url(/assets/img/contact/btn_txt03.png) no-repeat 50% 50%;
}

.sec-form__submit .button--style03:after {
	right: 25px;
	color: #fff;
}

.sec-form__submit .button--style03:hover {
	background: #fff url(/assets/img/contact/btn_txt03_on.png) no-repeat 50% 50%;
}

.sec-form__submit .button--style03:hover:after {
	color: #9c8b69;
}

.sec-form__submit .button--style04 {
	display: inline-block;
	border-color: #232e3c;
	background: #232e3c url(/assets/img/contact/btn_txt04.png) no-repeat 50% 50%;
}

.sec-form__submit .button--style04:after {
	right: 25px;
	color: #fff;
}

.sec-form__submit .button--style04:hover {
	background: #fff url(/assets/img/contact/btn_txt04_on.png) no-repeat 50% 50%;
}

.sec-form__submit .button--style04:hover:after {
	color: #232e3c;
}

/* media query -> sp
=================================================================*/
@media only screen and (max-width: 767px) {
	.sec-form__submit {
		margin-top: 30px;
		text-align: center;
	}
	.sec-form__submit .button {
		position: relative;
		width: 100%;
		height: 60px;
		-webkit-transition: none;
		        transition: none;
	}
	.sec-form__submit .button--style01 {
		background: #9c8b69 url(/assets/img/contact/btn_txt01_sp.png) no-repeat 50% 50%;
		background-size: 137px 15px;
	}
	.sec-form__submit .button--style01:after {
		color: #fff;
	}
	.sec-form__submit .button--style01:hover {
		background: #9c8b69 url(/assets/img/contact/btn_txt01_sp.png) no-repeat 50% 50%;
		background-size: 137px 15px;
	}
	.sec-form__submit .button--style01:hover:after {
		color: #fff;
	}
	.sec-form__submit .button--style02 {
		background: url(/assets/img/contact/btn_txt02_sp.png) no-repeat 50% 50%;
		background-size: 59px 15px;
	}
	.sec-form__submit .button--style02:after {
		color: #9c8b69;
	}
	.sec-form__submit .button--style02:hover {
		background: url(/assets/img/contact/btn_txt02_sp.png) no-repeat 50% 50%;
		background-size: 59px 15px;
	}
	.sec-form__submit .button--style02:hover:after {
		color: #9c8b69;
	}
	.sec-form__submit .button--style03 {
		background: #9c8b69 url(/assets/img/contact/btn_txt03_sp.png) no-repeat 50% 50%;
		background-size: 59px 15px;
	}
	.sec-form__submit .button--style03:after {
		color: #fff;
	}
	.sec-form__submit .button--style03:hover {
		background: #9c8b69 url(/assets/img/contact/btn_txt03_sp.png) no-repeat 50% 50%;
		background-size: 59px 15px;
	}
	.sec-form__submit .button--style03:hover:after {
		color: #fff;
	}
	.sec-form__submit .button--style04 {
		display: block;
		background: #232e3c url(/assets/img/contact/btn_txt04_sp.png) no-repeat 50% 50%;
		background-size: 95px 15px;
	}
	.sec-form__submit .button--style04:after {
		color: #fff;
	}
	.sec-form__submit .button--style04:hover {
		background: #232e3c url(/assets/img/contact/btn_txt04_sp.png) no-repeat 50% 50%;
		background-size: 95px 15px;
	}
	.sec-form__submit .button--style04:hover:after {
		color: #fff;
	}
	.sec-form__submit--plural {
		position: relative;
		padding-bottom: 75px;
	}
	.sec-form__submit--plural .button--style02 {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 170px;
		margin-left: -85px;
	}
}

/*--------------------------------------------------------------------------
   .sec-form__complete
---------------------------------------------------------------------------*/
.sec-form__base {
	margin-top: 20px;
}

.sec-form__base--complete {
	border-top: none;
	text-align: center;
}

.sec-form__base--complete .complete-hdg {
	display: inline-block;
	overflow: hidden;
	width: 611px;
	height: 57px;
	background: url(/assets/img/contact/comp_txt01.png) no-repeat;
	text-indent: 101%;
	white-space: nowrap;
}

.sec-form__base--complete .complete-lead {
	margin-top: 40px;
}

/* media query -> sp
=================================================================*/
@media only screen and (max-width: 767px) {
	.sec-form__base--complete .complete-hdg {
		width: 213px;
		height: 72px;
		background: url(/assets/img/contact/comp_txt01_sp.png) no-repeat;
		background-size: 213px 72px;
	}
	.sec-form__base--complete .complete-lead {
		margin-top: 20px;
	}
}

/*# sourceMappingURL=../../../maps/assets/scss/contact/index.css.map */
