/*--------------------------------------------------------------------------
   common
---------------------------------------------------------------------------*/
/* function
-----------------------------------------------------------------*/
/* var
-----------------------------------------------------------------*/
/* mixin
-----------------------------------------------------------------*/
/* overwrite
-----------------------------------------------------------------*/
.global-header__contact {
	display: none;
}

/* media query -> sp
=================================================================*/
@media only screen and (max-width: 767px) {
	.global-header__logo a {
		width: 100px;
		height: 100px;
		background: url(/assets/img/logo_fivestar.png) no-repeat;
		background-size: 100px 100px;
	}
}

/*--------------------------------------------------------------------------
   parts
---------------------------------------------------------------------------*/
.section {
	padding-top: 80px;
	padding-bottom: 130px;
	background: #f4f3f2;
}

.section .section__content {
	box-sizing: border-box;
	width: 1160px;
	margin: auto;
	padding: 0 70px;
	box-shadow: 14px 14px 30px 0 rgba(0, 0, 0, .1);
	background: #fbfbfb;
}

/* media query -> sp
=================================================================*/
@media only screen and (max-width: 767px) {
	.section {
		padding-top: 25px;
		padding-bottom: 25px;
		background: #f4f3f2;
	}
	.section .section__content {
		box-sizing: border-box;
		width: auto;
		padding: 0 25px;
		box-shadow: none;
		background: none;
	}
}

.info__item--date {
	box-sizing: border-box;
	width: 51%;
	padding-right: 20px;
	font-family: 'Cinzel', serif;
	font-size: 16px;
}

.info__item--category {
	width: 49%;
	border: 1px solid #8e8677;
	text-align: center;
	color: #8e8677;
	font-size: 12px;
}

/* media query -> sp
=================================================================*/
@media only screen and (max-width: 767px) {
	.info__item--date {
		width: 52%;
		padding-right: 11px;
		font-size: 11px;
	}
	.info__item--category {
		width: 48%;
		font-size: 9px;
	}
}

/*--------------------------------------------------------------------------
   .sec-hd
---------------------------------------------------------------------------*/
.sec-hd {
	position: relative;
	padding-bottom: 125px;
	background: url(/assets/img/404/hd_bg.jpg) no-repeat 50% 100%;
	background-size: cover;
	text-align: center;
}

.sec-hd__outline {
	position: relative;
	padding-top: 129px;
}

.sec-hd__hdg {
	display: inline-block;
	overflow: hidden;
	width: 388px;
	height: 30px;
	background: url(/assets/img/404/page_hdg.png) no-repeat;
	text-indent: 101%;
	white-space: nowrap;
}

.sec-hd__lead {
	margin-top: 33px;
	color: #fff;
	font-size: 18px;
}

.sec-hd__tel {
	display: inline-block;
	overflow: hidden;
	position: absolute;
	top: 28px;
	right: 28px;
	width: 248px;
	height: 75px;
	background: url(/assets/img/404/hd_txt01.png) no-repeat;
	text-indent: 101%;
	white-space: nowrap;
}

.sec-hd__tel a {
	display: block;
	width: 248px;
	height: 75px;
}

.sec-hd .line {
	display: block;
	position: absolute;
	width: 1px;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.sec-hd .line:before {
	display: block;
	width: 100%;
	height: 100%;
	background-color: #fff;
	content: '';
}

.sec-hd .line--01 {
	top: 0;
	left: 125px;
	height: 92px;
	-webkit-transform-origin: 50% 0 0;
	    -ms-transform-origin: 50% 0 0;
	        transform-origin: 50% 0 0;
}

.sec-hd .line--02 {
	top: 0;
	left: 186px;
	height: 252px;
	-webkit-transform-origin: 50% 0 0;
	    -ms-transform-origin: 50% 0 0;
	        transform-origin: 50% 0 0;
}

.sec-hd .line--02:before {
	background-color: #dec083;
}

.sec-hd .line--03 {
	top: 216px;
	right: 62px;
	height: 163px;
	-webkit-transform-origin: 50% 0 0;
	    -ms-transform-origin: 50% 0 0;
	        transform-origin: 50% 0 0;
}

/* media query -> sp
=================================================================*/
@media only screen and (max-width: 767px) {
	.sec-hd {
		position: relative;
		padding-bottom: 0;
		background: none;
	}
	.sec-hd__outline {
		padding: 139px 0 45px;
		background: url(/assets/img/404/hd_bg_sp.jpg) no-repeat 50% 100%;
		background-size: cover;
	}
	.sec-hd__hdg {
		width: 252px;
		height: 21px;
		background: url(/assets/img/404/page_hdg_sp.png) no-repeat;
		background-size: 252px 21px;
	}
	.sec-hd__lead {
		margin-top: 0;
		padding-top: 28px;
		background: #f4f3f2;
		color: #0f162c;
		font-size: 14px;
	}
	.sec-hd__tel {
		top: 22px;
		right: 18px;
		width: 188px;
		height: 57px;
		background: url(/assets/img/404/hd_txt01_sp.png) no-repeat;
		background-size: 188px 57px;
	}
	.sec-hd__tel a {
		width: 188px;
		height: 57px;
	}
	.sec-hd .line {
		display: none;
	}
}

/*--------------------------------------------------------------------------
   hide
---------------------------------------------------------------------------*/
/* media query -> sp
=================================================================*/
@media only screen and (max-width: 767px) {
	.sec-hd--com .sec-hd__lead {
		display: none;
	}
}

/*--------------------------------------------------------------------------
   .sec-404
---------------------------------------------------------------------------*/
.sec-404 .section__content {
	padding-top: 110px;
	padding-bottom: 110px;
}

.sec-404 .title {
	overflow: hidden;
	overflow: hidden;
	width: 585px;
	height: 57px;
	margin: 0 auto;
	background: url(/assets/img/404/content_title01.png) no-repeat center center;
	background-size: 585px 57px;
	text-indent: 101%;
	white-space: nowrap;
}

.sec-404 .text {
	margin-top: 40px;
	text-align: center;
	font-weight: normal;
}

.sec-404 .btn {
	margin-top: 58px;
	text-align: center;
}

.sec-404 .btn .inner {
	display: block;
	overflow: hidden;
	overflow: hidden;
	width: 435px;
	height: 70px;
	margin: auto;
	background: url(/assets/img/404/link_btn01.jpg) no-repeat center center;
	background-size: 435px 70px;
	text-indent: 101%;
	white-space: nowrap;
	-webkit-transition: opacity .6s, opacity .6s;
	        transition: opacity .6s, opacity .6s;
}

.sec-404 .btn .inner:hover {
	opacity: .9;
}

/* media query -> sp
=================================================================*/
@media only screen and (max-width: 767px) {
	.sec-404 {
		padding-top: 55px;
		padding-bottom: 60px;
	}
	.sec-404 .section__content {
		padding-top: 0;
		padding-bottom: 0;
	}
	.sec-404 .title {
		overflow: hidden;
		width: 182px;
		height: 72px;
		margin: 0 auto;
		background-image: url(/assets/img/404/content_title01_sp.png);
		background-size: 182px 72px;
		text-indent: 101%;
		white-space: nowrap;
	}
	.sec-404 .btn {
		margin-top: 30px;
	}
	.sec-404 .btn .inner {
		display: block;
		overflow: hidden;
		width: 270px;
		height: 60px;
		margin: auto;
		background-image: url(/assets/img/404/link_btn01_sp.jpg);
		background-size: 270px 60px;
		text-indent: 101%;
		white-space: nowrap;
	}
}

/*# sourceMappingURL=../../../maps/assets/scss/404/index.css.map */
