/*--------------------------------------------------------------------------
   common
---------------------------------------------------------------------------*/
/* var
-----------------------------------------------------------------*/
/* function
-----------------------------------------------------------------*/
/* mixin
-----------------------------------------------------------------*/
/* overwrite
-----------------------------------------------------------------*/
.global-header__contact {
	display: none;
}

/* media query -> sp
=================================================================*/
@media only screen and (max-width: 767px) {
	.global-header__logo a {
		width: 100px;
		height: 100px;
		background: url(/assets/img/logo_fivestar.png) no-repeat;
		background-size: 100px 100px;
	}
}

/*--------------------------------------------------------------------------
   parts
---------------------------------------------------------------------------*/
.section {
	padding-top: 80px;
	padding-bottom: 130px;
	background: #f4f3f2;
}

.section .section__content {
	box-sizing: border-box;
	width: 1160px;
	margin: auto;
	padding: 0 70px;
	box-shadow: 14px 14px 30px 0 rgba(0, 0, 0, .1);
	background: #fbfbfb;
}

/* media query -> sp
=================================================================*/
@media only screen and (max-width: 767px) {
	.section {
		padding-top: 25px;
		padding-bottom: 25px;
		background: #f4f3f2;
	}
	.section .section__content {
		box-sizing: border-box;
		width: auto;
		padding: 0 25px;
		box-shadow: none;
		background: none;
	}
}

.table-unit {
	display: table;
}

.table-unit__item {
	display: table-cell;
}

.table-unit__item--col2 {
	width: 50%;
}

.table-unit--md .table-unit__item {
	vertical-align: middle;
}

.flex-unit {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;

	-webkit-flex-wrap: nowrap;
	    -ms-flex-wrap: nowrap;
	        flex-wrap: nowrap;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	        align-items: center;
}

.info__item {
	box-sizing: border-box;
}

.info__item--date {
	width: 102px;
	padding-right: 20px;
	font-family: 'Cinzel', serif;
	font-size: 16px;
}

.info__item--category {
	width: 96px;
	padding: 3px 0;
	border: 1px solid #8e8677;
	text-align: center;
	color: #8e8677;
	font-size: 12px;
}

/* media query -> sp
=================================================================*/
@media only screen and (max-width: 767px) {
	.info__item--date {
		width: 70px;
		padding-right: 11px;
		font-size: 11px;
	}
	.info__item--category {
		width: 70px;
		font-size: 9px;
	}
}

.flex-table-base {
	box-sizing: border-box;
	width: 100%;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-collapse: collapse;
}

.flex-table-base .row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-collapse: collapse;
}

.flex-table-base .row:first-child {
	border-top: none;
}

.flex-table-base .hdg,
.flex-table-base .content {
	box-sizing: inherit;
	padding-top: 20px;
	padding-bottom: 20px;
	vertical-align: top;
	font-weight: normal;
}

.flex-table-base .hdg {
	padding-right: 32px;
	padding-left: 32px;
	background: #f8f8f8;
	text-align: left;
}

.flex-table-base .hdg .flex-table-base__ttl {
	font-weight: inherit;
}

.flex-table-base .content {
	padding-right: 26px;
	padding-left: 26px;
	border-left: 1px solid #ccc;
	background: #fff;
}

/* media query -> sp
=================================================================*/
@media only screen and (max-width: 767px) {
	.flex-table-base {
		box-sizing: border-box;
		width: 100%;
		border-collapse: collapse;
	}
	.flex-table-base .hdg,
	.flex-table-base .content {
		padding: 10px;
		vertical-align: middle;
	}
	.flex-table-base .hdg {
		width: 37%;
	}
	.flex-table-base .content {
		width: 63%;
	}
}

/*--------------------------------------------------------------------------
   .sec-hd
---------------------------------------------------------------------------*/
.sec-hd {
	position: relative;
	padding-bottom: 93px;
	background: url(/assets/img/news/hd_bg.jpg) no-repeat 50% 100%;
	background-size: cover;
	text-align: center;
}

.sec-hd__outline {
	position: relative;
	padding-top: 97px;
}

.sec-hd__hdg {
	display: inline-block;
	overflow: hidden;
	width: 152px;
	height: 36px;
	background: url(/assets/img/news/page_hdg.png) no-repeat;
	text-indent: 101%;
	white-space: nowrap;
}

.sec-hd__lead {
	margin-top: 33px;
	color: #fff;
	font-size: 18px;
}

.sec-hd__tel {
	display: inline-block;
	overflow: hidden;
	position: absolute;
	top: 28px;
	right: 28px;
	width: 248px;
	height: 75px;
	background: url(/assets/img/news/hd_txt01.png) no-repeat;
	text-indent: 101%;
	white-space: nowrap;
}

.sec-hd__tel a {
	display: block;
	width: 248px;
	height: 75px;
}

.sec-hd .line {
	display: block;
	position: absolute;
	width: 1px;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.sec-hd .line:before {
	display: block;
	width: 100%;
	height: 100%;
	background-color: #fff;
	content: '';
}

.sec-hd .line--01 {
	top: 0;
	left: 125px;
	height: 92px;
	-webkit-transform-origin: 50% 0 0;
	    -ms-transform-origin: 50% 0 0;
	        transform-origin: 50% 0 0;
}

.sec-hd .line--02 {
	top: 0;
	left: 186px;
	height: 252px;
	-webkit-transform-origin: 50% 0 0;
	    -ms-transform-origin: 50% 0 0;
	        transform-origin: 50% 0 0;
}

.sec-hd .line--02:before {
	background-color: #dec083;
}

.sec-hd .line--03 {
	top: 216px;
	right: 62px;
	height: 163px;
	-webkit-transform-origin: 50% 0 0;
	    -ms-transform-origin: 50% 0 0;
	        transform-origin: 50% 0 0;
}

/* media query -> sp
=================================================================*/
@media only screen and (max-width: 767px) {
	.sec-hd {
		position: relative;
		padding-bottom: 0;
		background: none;
	}
	.sec-hd__outline {
		padding: 139px 0 45px;
		background: url(/assets/img/news/hd_bg_sp.jpg) no-repeat 50% 100%;
		background-size: cover;
	}
	.sec-hd__hdg {
		width: 103px;
		height: 23px;
		background: url(/assets/img/news/page_hdg_sp.png) no-repeat;
		background-size: 103px 23px;
	}
	.sec-hd__lead {
		margin-top: 0;
		padding-top: 28px;
		background: #f4f3f2;
		color: #0f162c;
		font-size: 14px;
	}
	.sec-hd__tel {
		top: 22px;
		right: 18px;
		width: 188px;
		height: 57px;
		background: url(/assets/img/news/hd_txt01_sp.png) no-repeat;
		background-size: 188px 57px;
	}
	.sec-hd__tel a {
		width: 188px;
		height: 57px;
	}
	.sec-hd .line {
		display: none;
	}
}

/*--------------------------------------------------------------------------
   hide
---------------------------------------------------------------------------*/
/* media query -> sp
=================================================================*/
@media only screen and (max-width: 767px) {
	.sec-hd--com .sec-hd__lead {
		display: none;
	}
}

.sec-news .section__content {
	padding-top: 30px;
	padding-bottom: 22px;
}

/* media query -> sp
=================================================================*/
@media only screen and (max-width: 767px) {
	.sec-news .section__content {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.news-list__item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	box-sizing: border-box;
	padding-top: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #d0d2d5;
}

.news-list__item:last-child {
	border-bottom: none;
}

.news-list__item .info {
	width: 198px;
}

.news-list__item .text {
	box-sizing: border-box;
	width: 822px;
	padding-left: 20px;
	font-size: 16px;
}

.news-list__item a:hover {
	text-decoration: underline;
}

/* media query -> sp
=================================================================*/
@media only screen and (max-width: 767px) {
	.news-list__item {
		display: block;
		padding-top: 25px;
		padding-bottom: 25px;
		border-top: 1px solid #d0d2d5;
		border-bottom: none;
	}
	.news-list__item .info {
		width: auto;
	}
	.news-list__item .text {
		width: auto;
		margin-top: 4px;
		padding-left: 0;
		font-size: 14px;
	}
}

/*# sourceMappingURL=../../../maps/assets/scss/news/index.css.map */
